<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li>
                <a><i class="fa fa-home"></i> Master Data <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="~/Merchant/Index">Merchant List</a></li>
                    <li><a href="~/Merchant/Edit">New Merchant</a></li>
                    <li><a href="~/Product/Index">Product List</a></li>
                    <li><a href="~/Product/Edit">New Product</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-edit"></i> Activities <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="~/Email/Index">List of Emails</a></li>
                    <li><a href="~/Email/Edit">New Email</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-desktop"></i>Administration<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="~/User/Index">User List</a></li>
                    <li><a href="~/User/Edit">New User</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

